
// Efectos, animaciones

.anim-intro {
	width: 100%;
	height: 600px;

	path {
		fill: none;
		stroke: $black;
		stroke-width: 1;
		// stroke-linejoin: round;
		// stroke-linecap: round;
		stroke-dashoffset: 500; 
		stroke-dasharray: 500;
		// stroke-miterlimit: 10;
		@include scale(2);

		&:hover {
			fill: $color-alt;
			fill-opacity: 1;
			fill-rule: inherit;
			stroke-width: 2;
			// stroke-linejoin: round;
			// stroke-linecap: round;
			stroke-dashoffset: 10; 
			stroke-dasharray: 10;
		}
	}
}


@include keyframe(animacion--intro) {
	0%, 100% {opacity: 1}
	50% {opacity:0}
}

.efecto--intro {

  @include animation(animacion--intro, 2s, 1s, ease, 1);

}

  @include keyframe(animacion--gira) {
    from {
      @include rotate(0deg);
    }
    to {
      @include rotate(360deg); 
    }
  }

.efecto--gira {

  @include animation (animacion--gira, 3s, 2s, linear, 1);
  
}

// animacion SVG
@include keyframe(efecto-stroke-dashoffset) {
  50% {
    stroke-dashoffset: 0;
  }
}
.efecto--stroke-dashoffset {
  @include animation(efecto-stroke-dashoffset, 1s,10s,linear,infinite);
}