// Carousel
.carousel {
	@include flexbox;
	@include flex-wrap(wrap);
	flex-direction: row;
    @include justify-content(space-between);
	padding: $gutterwidth;
	background-color: lighten($color-base, 40%);
}
	.carousel__item {
		@extend %display-block;

		&:hover {
		}
	}
	
	.carousel__title {
		margin-bottom: 0;
		@extend %flex-basis-fullwidth;
	}

	.carousel__description {
		color: $color-base;
		@extend %flex-basis-fullwidth;
	}

	.carousel__wrap {
		position: relative;
		overflow: hidden;
		width: 100%;

		ul {
			width: 20000em;
	    	position: relative;
	    	@extend %no-padding;
	    	@extend %no-margin;
		}

		li {
			position: relative;
			display: table-cell;
			width: 500px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto !important;
		}
	
		.carousel-control-prev, .carousel-control-next {
			position: absolute;
			top: 40%;
			@media screen and (min-width: $bp3) {
				top: 76%;
			}
		}

		.carousel-control-prev {
			left: $gutterwidth;
			@media screen and (min-width: $bp3) {
				left: 44%;
			}
		}

		.carousel-control-next {
			right: $gutterwidth;
			@media screen and (min-width: $bp3) {
				right: 44%;
			}
		}
	}