.inactivo { opacity: .5 }
.slider {
  position: relative;
  background-color: red;
  
  .slider__slide {
    display: flex;
    opacity: 0;
    position:absolute;
    overflow: hidden;
    transition: all 1s ease;
    
    &.current {
      opacity: 1;
      transition: all 1s ease;
    }
  }
}

.slider__figure {
  position: relative;
  
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,.3);
  }
}

.next, .prev {
  position: relative;
  top:25%;
  text-align: center;
  padding: 0 40px;
  z-index: 10;
  background-color: red;
  &:hover {
    cursor: pointer;  
  }
}
.prev { left:0 }
.next { right:0 }

img {
  width: 300px;
}