

hr {
	clear : both;
	@extend %display-block;
	margin : $baselineheight 0;
	padding : 0;
	height : 1px;
	border : 0;
	border-top : 1px dotted $bordercolor;
}


/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/

.img--rounded {
	border-radius :$radius * 4;
}

.img--circle {
	border-radius : 100%;
}



/*------------------------------------*\
    SVG
\*------------------------------------*/

svg {

	&.brand__logo {
		width: 50px;
		height: 50px;

		path {
			fill: none;
			stroke: $black;
			stroke-width: 1;
			// stroke-linejoin: round;
			// stroke-linecap: round;
			stroke-dashoffset: 500; 
			stroke-dasharray: 500;
			stroke-miterlimit: 10;
		
			&:hover {
				fill: $color-alt;
				fill-opacity: 1;
				fill-rule: inherit;
				// stroke-width: 2;
				// stroke-linejoin: round;
				// stroke-linecap: round;
				stroke-dashoffset: 10; 
				stroke-dasharray: 10;
			}
		}
	}

	&.anim-intro {
		width: 50%;
		min-height: 300px;

		path {
			fill: none;
			stroke: $black;
			stroke-width: 1;
			// stroke-linejoin: round;
			// stroke-linecap: round;
			stroke-dashoffset: 500; 
			stroke-dasharray: 500;
			// stroke-miterlimit: 10;
			@include scale(2);

			&:hover {
				fill: $color-alt;
				fill-opacity: 1;
				fill-rule: inherit;
				stroke-width: 2;
				// stroke-linejoin: round;
				// stroke-linecap: round;
				stroke-dashoffset: 10; 
				stroke-dasharray: 10;
			}
		}
	}

}



/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
	@media screen and (min-width: $bp3) {
		
		// margin-bottom : $baselineheight; //comprobar si realmente hace falta o no
	}

	img {
		// margin-bottom : $baselineheight / 4;
		
		&:hover {
			// box-shadow: 0 0 0 1px pink inset;
		}
	}

	figcaption {
		@extend %display-block;
		font-weight : normal;
		line-height: $baselineheight / 1.5;
		@include font-size($basefontsize/1.2);
		font-style : italic;
	}
}