

hr {
	clear : both;
	@extend %display-block;
	margin : $baselineheight 0;
	padding : 0;
	height : 1px;
	border : 0;
	border-top : 1px dotted $bordercolor;
}


/*------------------------------------*\
    $ELEMENTOS-IMÁGENES
\*------------------------------------*/

.img--rounded {
	border-radius :$radius * 4;
}

.img--circle {
	border-radius : 100%;
}


/*------------------------------------*\
    $ELEMENTOS-FIGURE
\*------------------------------------*/
figure {
	@media screen and (min-width: $bp3) {
		
		// margin-bottom : $baselineheight; //comprobar si realmente hace falta o no
	}

	img {
		// margin-bottom : $baselineheight / 4;
		
		&:hover {
			// box-shadow: 0 0 0 1px pink inset;
		}
	}

	figcaption {
		@extend %display-block;
		font-weight : normal;
		line-height: $baselineheight / 1.5;
		@include font-size($basefontsize/1.2);
		font-style : italic;
	}
}