// Galeria
.galeria-fotos {
	@include flexbox;
	@include flex-wrap(wrap);
    @include justify-content(space-around);
    background-color: $color-base;
    @extend %basepadding;
}

	.galeria-fotos__title {
		@extend %flex-basis-fullwidth;
		margin-bottom: $gutterwidth/2;
	}

	.galeria-fotos__description {
		color: $white-alpha;
		@extend %flex-basis-fullwidth;
	}

	.galeria-fotos__figure {
		@include max-width(75%);
		position: relative;
		@extend %text-center;
		margin-bottom: $gutterwidth*2;

    	//magia!!
    	@media (min-width: $bp3) {
      		width: calc(20% - #{$gutterwidth});
			margin-bottom: 0;
    	}
  
		.galeria-fotos__caption {
	    	transition: all .2s;
	    	font-size: 12px; // fallback + progressive enhancement
	    	font-size: 1rem;

			&::after {
			width: 2em;
			height: 2em;
			transition: all .7s;
			content: "+" !important;
			position: absolute;        
			transform: translate(-40px, -70px);
			font-size: 12px; 
			font-size: 2rem;
			background-color: $white;
			line-height: 2em;
		    @extend %text-center;
		    border-radius: 100%;
			}
			
			&:hover::after {
				content: ">" !important;
				transform: translate(-15px, -20px);
				background-color: $color-base;
			}
		}
	}