// Modulo List
.modulo-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

	.modulo-list--horizontal {
		flex-direction: column;
	}
	.modulo-list__item {}
	.modulo-list__ordered {}
	.modulo-list__unordered {}
	.modulo-list__definition {}