/*------------------------------------*\
    $WIDGETS
\*------------------------------------*/


// Idiomas
.idiomas {
	margin : $baselineheight/2;
	display: table;
	display: none;
	width: 90px;
	float: right;
	padding : 8px 35px 8px 14px;
	line-height: 1;
	@extend %text-center;
	background-color: $alertinfobg;

	li {
		display: table-cell;
		@include font-size(18);
	}
	.idiomas__item {}
}



// Alerts
.alert {
	display: table;
	width: 100%;
	justify-content: center;
	margin-bottom : $baselineheight;
	padding : 8px 35px 8px 14px;
	background-color : $color-alert;
	border : $alertborderwidth $alertborderstyle $alertbordercolor;
	font-family : $basefont;
	@include font-size(18);
	color: $alerttext;

	> p {
		margin-bottom: 0;
		display: table-cell;
		width: 90%;
	}
}

	.alert--heading {
		color : inherit;
	}

	.close {
		display: table-cell;
		width: 10%;
		@include font-size(21);
		font-weight 	: bold;
		line-height 	: 18px;
		color 		: inherit;
	}

	.alert--success {
		background-color 	: $alertsuccesscolor;
		border-color 		: $alertsuccessborder;
		color 			: $alertsuccesstext;
	}

	.alert--warning {
		background-color 	: $alertwarningcolor;
		border-color 		: $alertwarningborder;
		color 			: $alertwarningtext;
	}

	.alert--error {
		background-color 	: $alerterrorcolor;
		border-color 		: $alerterrorborder;
		color 			: $alerterrortext;
	}

	.alert--info {
		@extend %text-center;
		padding: 6px 0;
		line-height: 1;
		border: none;
		background-color: $alertinfobg;
		// border-color 	: $alertinfoborder;
		color 			: $alertinfotext;

	}

	.alert--inverse {
		background-color 	: $alertinversecolor;
		border-color 		: $alertinverseborder;
		color 			: $alertinversetext;
	}



// WELL ====================================================

.well {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	//flex-wrap: nowrap;
	//align-content: center;
	@include max-width($bp2);
	min-height : $paddingbase;
	padding : $paddingbase $paddingbase;
	border-radius: $radius;
	margin-bottom : $baselineheight;
	@extend %text-center;
	background-color : $color-base-light;
	
	p {
		@include max-width($bp3);
	}
	p:last-child {
		margin-bottom : 0;
	}
}

	.well--large {
		padding : ($paddingbase * 4) ($paddingbase * 4);
		@extend %text-center;
		background-color: $color-base-invert;
		border: none;
		border-radius: none;
		box-shadow: none;
	}

	.well--small {
		padding : $paddingbase / 2;
	}

	.well--img {
		@include max-width($bp1);
		@include size(100%, 600px);
		border-radius: 0;
		p, h3 {
			color: $white;
		}
	}

	.well--anim {
		@include max-width(100%);
		@include size(100%, 600px);
		border-radius: 0;
		p, h3 {
			color: $white;
		}
	}

// Video
.video-main {
	@extend %padding-vertical;
	background-color: $black;
}
	.video-main__iframe {
		@include max-width(560px);
	}
	.video-main__heading, .video-main__description {
		color: $white;
	}
	.video-main__description {
		margin-top: $paddingbase / 2;
		margin-bottom: 0;
	}
