// Footer principal
.main-footer {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-color: $color-alt;
  	padding: $gutterwidth;
  	@media (min-width:950px) {
		flex-direction: row;
  	}
	
	li {
		display: flex;
		align-items: center;
		line-height: 1;
	}
  	li::before {
  		font-size: 3.5rem;
  		margin-right: 10px;
  	}
}
	.main-footer__header { 
		flex: 1;
		margin-bottom: 0;
	}
	.main-footer__list { 
		flex: 3;
		margin: 0;
		padding: 0;

		a, a:visited {
			line-height: 2;
			color: $textcolor;
		}
	}
	.main-footer__btn { 
		
	}
	.main-footer__credits {
		flex: 2;
		aside {
			margin-top: $gutterwidth;
		}
	}

