// Footer principal
.main-footer {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-color: $color-alt;
  	padding: $gutterwidth;

  	@media (min-width:950px) {
		flex-direction: row;
  	}
	
	li {
		display: flex;
		align-items: center;
		line-height: 1;
	}
}
	.main-footer__header { 
		flex: 1;
		margin-bottom: 0;
	}

	.main-footer__list { 
		display: table;
		width: 50%;
		margin: 0;
		padding: 0;

		li {
			display: table-cell;

			a {
			transition: all .5s ease;
			color: darken($color-alt, 10%);

				&:hover {
					color: darken($color-alt, 25%);
				}

		  		&::before {
		  			font-size: 3.5rem;
		  			margin-right: 10px;
		  		}
			}
		}
	}

	.main-footer__credits {
		flex: 2;
		aside {
			margin-top: $gutterwidth;
		}

		a, a:visited {
			color: $linkcolorfooter;
		}
		a:hover {
			text-decoration: underline;
		}
		a i:hover {
			
		}
	}
