// Modulo Post
.article-post {
	display: table;
	@include max-width($bp3);
}
	.article-post__figure {
		width: 30%;
		float: left;
	}

	.article-post__figure + p {
		font-family: $altfont;
		font-weight: 700;
	}